{% extends 'base_vet.html' %}

{% block title %} Actualiza mascota {% endblock %}

{% block content %} 

<form action="{{ url_for('vet.inserta_pet') }}" method="post">
    
    <label for="">Nombre mascota: </label>
    <input type="text" name="nom" value="{{ mascota.nombre }}" >
    <label for="">Especie:</label>
    <input type="text" name="esp" value="{{ mascota.especie }}" >
    <label for="">Animal:</label>
    <input type="text" name="ani" value="{{ mascota.animal }}" >
    <label for="">Raza</label>
    <input type="text" name="raz" value="{{ mascota.raza }}" >
    <label for="">Nombre del Propieratio</label>
    <select name="ido" id="">
        <option value="" autofocus></option>
        {% for owner in owner_list %}
        <option name="ido" value="{{ owner.id }}">{{ owner.nombre }}</option> <!--owner.id-->
        {% endfor %}
    </select>
    <button type="submit">Guardar mascota</button>
    
</form>

{% endblock %}