{% extends 'base_vet.html' %}


{% block title %} Ver Propietario de mascotas {% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>nombre</th>
            <th>direccion</th>
            <th>telefono</th>
            <th>correo</th>
        </tr>
    </thead>
    <tbody>
        <!--  {% for elemento in datos.items %} -->
        {% for elemento in datos %}
        <tr>
    
            <td>{{ elemento.nombre }}</td>
            <td>{{ elemento.direccion }}</td>
            <td>{{ elemento.telefono }}</td>
            <td>{{ elemento.correo }}</td>
            <td>
                <a href="{{ url_for('vet.borrar',id=elemento.id) }}"><button type="submit" class="btn btn-danger">Borrar</button></a>
                <a href="{{ url_for('vet.actualizar_owner',id=elemento.id) }}"><button type="submit" class="btn btn-success">Editar</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--

<nav aria-label="...">
    <ul class="pagination">
        {% for page in datos.iter_pages() %}
        # iter_pages(): sirve para ITERAR el número de páginas
            {% if page %}
                <li class="page-item">
                <a href="{{ url_for('index_pagination', num_page=page) }}"
                class="page-link" tabindex="-1">{{ page }}</a>
                </li>
            {% else %}
                >>>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

-->

{% endblock %}